.conversations {
  display: flex;
  position: relative;
  &__sidebar {
    height: 100vh;
    width: 35%;
    border-right: 2px solid #e6dcdc;
  }
  &__list {
    height: calc(100% - 62px);
    overflow: auto;
    background-color: #F8F8F8;
  }
}

.chat__title {
  font-size: 1.2rem;
  font-weight: 600;
}

.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 44px;
  border-bottom: 2px solid #e6dcdc;
  padding: 6px 20px;
  flex-wrap: wrap;
}


.search__input {
  border: 0;
  background-color: transparent;
  height: 30px;
  font-size: 1rem;
  &:focus {
    outline: 0;
  }
}

.search__input-wrap {
  border-bottom: 1px solid #cecece;
  display: flex;
  align-items: center;
  height: 31px;
}

.search__icon {
  width: 18px;
  height: 18px;
  display: inline-block;
  background: url('/assets/search.svg') no-repeat center;
  background-size: cover;
  cursor: pointer;
}

.messages-wrap {
  width: 65%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.messages {
  height: calc(100vh - 62px);
  overflow: auto;
  position: relative;
}

.messages-container {
  flex: 1;
}

.message__input-wrap {
  border-top: 2px solid #e6dcdc;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  margin: 0 17px;
}

.message__input {
  font-size: 1rem;
  flex: 1;
  height: 40px;
  padding: 0 5px;
  border: 0;
  &:focus {
    outline: 0;
  }
}

.button-wrap {
  background-color: #31718C;
  border: none;
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit-button {
  background: url('/assets/paper-plane.svg') no-repeat center;
  background-size: cover;
  border: none;
  padding: 10px;
  width: 28px;
  height: 28px;
  cursor: pointer;
}
